<div class="row">
    {{#each posts}}
    <div class="small-6 medium-4 columns">
        <div class="article-card">
            <div class="article-image">
                <img src="uploads/{{this.photo}}" alt="">
                <span class="card-tag"></span>
            </div>
            <div class="aticle-section">
                <div class="aticle-title">{{this.title}}</div>
                <div class="article-info">
                    <spna class="">{{this.name}}</spna>
                    {{!-- <spna data-created="{{this.created}}"></spna> --}}
                </div>
                <p class="article-content">{{this.content}}</p>
            </div>
            <div class="card-action">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
    </div>
    {{/each}}
</div>



<script>
    const created = Array.from(document.querySelectorAll('.created'));
    
    const cretedDate =created
    .map(function(node) {
        //node.innerText;
        const [dayName, month, day, year, time, GMT, area] =node.innerText.split(' ');
        node.innerText = `${month} ${year}`;
    });
    
</script>
