<div class="row column">
    <h3 class="legend">Recent</h3>
</div>

<div class="row">
    {{#each posts}}
    <div class="small-6 large-3 columns">
        <div class="post-card">
            <div class="post-thumbnail">
                <a href="#"><img src="uploads/{{this.photo}}" alt=""></a>
            </div>
            <div class="post-text">
                <div class="post-like">
                    <sapn class="like-icon"><i class="fa fa-heart-o"></i></sapn>
                    <span class="like-text">Liked by ibnHamdan and 3 others</span>
                </div>
                <div class="post-title">
                    <a href="#">
                        <h4>{{this.title}} </h4>
                    </a>
                </div>
                <div class="post-summary">
                    <span>{{this.content}}</span>
                </div>
            </div>

            <section class="post-info">
                <div class="author">
                    <a class="author-thumnail"><img src="./public/uploads/{{user.photo}}" alt="" /></a>
                    <span>aaaa{{user.photo}}</span>
                    <ul>
                        <li><span class="author-name"></span></li>
                        <li><span class="post-date">{{this.created_at}}</span></li>
                    </ul>

                    </div>
                    </section>
                    
                <section class="post-actions">

                    <span class="action-icon"><i class="fa fa-bookmark-o"></i></span>
                </section>


        </div>
    </div>

    {{/each}}
</div>



<script>
    const created = Array.from(document.querySelectorAll('.post-date'));

    const cretedDate = created
        .map(function (node) {
            //node.innerText;
            const [dayName, month, day, year, time, GMT, area] = node.innerText.split(' ');
            node.innerText = `${month} ${year}`;
        });

</script>